.vs/Patterns/v16/.suo
.vs/Patterns/v16/Browse.VC.db
.vs/Patterns/v16/Solution.VC.db
.vs/Patterns/v16/ipch/AutoPCH/21307b52f6438fad/COMMAND.ipch
.vs/Patterns/v16/ipch/AutoPCH/b0e95edfabe4909a/COMMAND.ipch
.vs/Patterns/v16/TestStore/0/000.testlog
.vs/Patterns/v16/TestStore/0/testlog.manifest
Patterns/bin/Debug/Patterns.exe
Patterns/bin/Debug/Patterns.exe.config
Patterns/bin/Debug/Patterns.pdb
Patterns/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Patterns/obj/Debug/Patterns.csproj.CoreCompileInputs.cache
Patterns/obj/Debug/Patterns.csproj.FileListAbsolute.txt
Patterns/obj/Debug/Patterns.csproj.GenerateResource.cache
Patterns/obj/Debug/Patterns.exe
Patterns/obj/Debug/Patterns.Form1.resources
Patterns/obj/Debug/Patterns.pdb
Patterns/obj/Debug/Patterns.Properties.Resources.resources
